@model DoAn_LTWeb.ViewModels.PhongTroViewModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/user.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true">
<link rel="stylesheet" href="~/fonts/fontawesome-free-6.5.1-web/css/all.css" asp-append-version="true">

@if (Model?.PhongTro != null && Model.PhongTro.Any())
{
    @foreach (var group in Model.PhongTro.GroupBy(p => p.NhaTro.TenNhaTro))
    {
        <div class="row mt-3">
            @foreach (var item in group.Where(p => p.TrangThai == "Trống"))
            {
                // Lấy danh sách nội thất của phòng
                var noiThatList = Model.ChiTietPhongTro.Where(ct => ct.MaPhongTro == item.MaPhongTro).ToList();
                var countNoiThat = noiThatList.Count();

                if (countNoiThat >= 2)
                {

                    <div class="col-md-3 mb-4">
                        <div class="card" style="width: 100%;">
                            <img src="@item.ImageUrl" class="card-img-top" style="min-height: 172px; max-height: 175px" alt="....">
                            <div class="card-body">
                                <h5 class="card-title"><b style="margin-right: 8px">Room:</b> @item.TenPhongTro</h5>
                                <p class="card-text"><b style="margin-right: 8px">Status:</b> @item.TrangThai</p>
                                <p class="card-text"><b style="margin-right: 8px">Accomodation:</b> @item.NhaTro.TenNhaTro</p>
                                <a class="form_button" asp-controller="Home" asp-action="Detail" asp-route-id="@item.MaPhongTro">View Detail</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}
else
{
    <p>Không có sản phẩm nào.</p>
}
