@model IEnumerable<DoAn_LTWeb.Models.NoiThat>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="~/css/Add_Home.css" asp-append-version="true">
<link rel="stylesheet" href="/font/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.css">

<div class="container-fluid mt-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table">
                <tr>
                    <th>Hình Ảnh</th>
                    <th>Tên Nội Thất</th>
                    <th>Loại Nội Thất</th>
                    <th>Tình Trạng</th>
                    <th>Mô Tả</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.ImageUrl" class="img-thumbnail" width="100" height="100" alt="Ảnh nội thất">
                            </td>
                            <td>@item.TenNoiThat</td>
                            <td>@item.LoaiNoiThat</td>
                            <td>@item.TinhTrang</td>
                            <td>@item.MoTa</td>
                            <td>
                                <a class="btn btn-info text-white btn-sm" asp-controller="NoiThat" asp-action="Update" asp-route-id="@item.MaNoiThat">
                                    <i class="fas fa-pencil-alt"></i> Sửa
                                </a>
                                <a class="btn btn-danger text-white btn-sm" asp-controller="NoiThat" asp-action="Delete" asp-route-id="@item.MaNoiThat">
                                    <i class="fas fa-trash-alt"></i> Xóa
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center text-muted">Không có nội thất nào.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .container-fluid {
        margin: 0;
    }

    .product-list {
        width: 100%;
    }

    .nha-tro-title {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }

    .img-thumbnail {
        object-fit: cover;
    }

    .table-responsive thead {
        border: 1px #2c2f34;
        background-color: #353a40;
        color: white;
    }

    .dark-mode .table-responsive thead {
        border: 1px white;
    }

    .dark-mode .table-responsive td {
        color: #fff;
    }
</style>